body {
  margin: 0;
}
.map {
  width: 100vw;
  height: 100vh;
}

/* .boton {
  display: flex;
  margin-top: 300px;
  text-align: center;
  align-content: center;
} */
/* .btn-warning {
  text-align: center;
  margin-left: 10px;
  margin-right: 0;
} */
.info {
  display: flex;
  /* padding: 6px 8px; */
  font: 14px/16px Arial, Helvetica, sans-serif;

  /* background: white; */
  background: #22303a;
  /* background: #d89e34fa; */
  /* background: rgba(255,255,255,0.8); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  /*  padding: 12px 10px; */
  text-align: center;
  align-content: center;
}
.info h2 {
  margin: 0 0 5px;
  font-weight: bold;
  color: red;
  font-size: 15px;
  margin: 5px;
}
.info h3 {
  margin: 0 0 5px;
  font-weight: bold;
  color: grey;
  font-size: 15px;
  margin: 5px;
}
.info h4 {
  margin: 0 0 5px;
  font-weight: bold;
  color: green;
  font-size: 15px;
  margin: 5px;
}
.info span {
  color: #66d1ff;
}
.btnThemeControl {
  padding: 8px;
  background: white;
}
.btnThemeControl.dark {
  background: #383434;
}
.leaflet-center {
  left: 28%;
  transform: translate(-50%, 0%);
  margin: 0.1em;
}
.leaflet-center .boton {
  left: -18%;
  top: -30px;
  transform: translate(-50%, 0%);
  /*  margin: 0.1em; */
}
/* span {
  background-color: red;
} */
/* createCorner("top", "center"), in leaflet.src */
/* createCorner("bottom", "center") */

@media (max-width: 600px) {
  /* .boton {
    display: flex;
    margin-top: 620px;
    text-align: center;
    align-content: center;
  } */
  .leaflet-center {
    left: 34%;
    transform: translate(-50%, 0%);
    margin: 0.1em;
  }

  .leaflet-center .boton {
    left: 50vw;
    top: 620px;
    transform: translate(-50%, 0%);
    margin: 0.1em;
  }
}
